@model Ancestry.Models.SearchViewModel

<h2>
    Deepend<em>Ancestry</em>
</h2>

@using (Html.BeginForm("Advanced", "Search", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">

                @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(m => m.Name)

            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="align">
                    @Html.LabelFor(m => m.GenderList, "Gender")
                </div>
                @foreach (var item in Model.GenderList)
                {
                    <div class="checkbox align">
                        <label>
                            <input type="checkbox" name="SelectedGenders" value="@item.Value" checked="@item.Selected" />
                            @item.Text
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div>
                <input type="submit" value="Advanced Search" class="btn btn-sm btn-block">
            </div>
        </div>

    </div>
}

@Html.Partial("ResultListing", Model)
